@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
:root {
  --color-fondo: #2c2c2c;
  --color-fondo-claro: #4b4848;
  --color-titulo: #f0e9e9;
  --color-verde: #5eee76;
  --fuente: "Poppins", sans-serif;
}
body {
  background-color: var(--color-fondo);
  font-family: var(--fuente);
}
